

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./images/login2\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(45, 39, 39, 0.555);
}

/* Navbar */
nav ul {
    list-style: none;
}

.active {
    color: var(--green);
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.425);
}

.nav-links {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 30px;

}

.logo {
    margin-top: 1%;
    margin-left: 1%;
    width: 130px;
    height: 130px;
    float: left;

}


.home a{
    color: whitesmoke;
    border: 1px solid;
    text-decoration: none;
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    width: 130px;
    height: 40px;
    font-size: 17px;
}

.nav-links a#icons{
    color: whitesmoke;
    font-size: 35px;
    text-decoration: none;
    padding-left: 30px;

}

.home a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 40px;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn{
    margin-left: 15px;

}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}


.checkbtn {
    color: #ffff;
    font-size: 35px;
    cursor: pointer;
    float: right;
    display: none;


}

.icons a:hover{
    color: var(--brown);
}

#check {
    display: none;
}


/* Mobile device */

@media screen and (max-width: 990px) {
    nav {
        padding: 0px 50px;
        z-index: 1;
    }

    .checkbtn {
        display: block;
        transition: transform .3s ease;
        padding: 30px;
       
    }

    img .logo {
        position: absolute;
        top: 25px;
        left: 450px;
        justify-content: flex-start;
        
        
        
    }

    .active{
        color: black;
    }

    nav ul {
        width: 100%;
        height: 70vh;
        background-color: rgba(122, 91, 5, 0.836);
        position: fixed;
        top: 75px;
        left: -100%;
        text-align: center;
        
    }
    .nav-links{
        display: block;
        
    }

    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;

    }
    .icons a{
         font-size: 25px;
         
    margin-top: 15px;
    
    padding: 15px;
    }
    nav .icons{
        
        justify-content: center;
        align-items: center;
   
    }
    

    #check:checked~ul {
        left: 0;
    }

}

/* Form box */
.form-box{
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index:0;

}

.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    font-size: 15px;
}

header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms{
    display: flex;
   
    gap: 10px;
}

.input-feild{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-feild:hover, .input-feild:focus{
    background: rgba(255, 255, 255, 0.493);
}
::-webkit-input-placeholder{
    color: #fff;

}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.863);
    cursor: pointer;
    transition:  .3s ease-in-out;
}

.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
}

@media only screen and (max-width:540px){
    .wrapper{
        
        min-height: 120vh;
    }

    header{
        
        font-size: 20px;
        
        padding: 5px 0 14px 0;
    }
    
    
    .form-box{
        width: 100%;
        padding: 0 20px;
    }
    .register-container,.login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;

    }

    .logo {
        
        width: 100px;
        height: 100px;
        float: left;
    
    }
    
    
}